[submodule "utils"]
	path = utils
	url = https://github.com/robertej19/utils

[submodule "client"]
	path = client
	url = https://github.com/robertej19/client

[submodule "server"]
	path = server
	url = https://github.com/robertej19/server

[submodule "web_interface"]
	path = web_interface
	url = https://github.com/mit-mc-clas12/web_interface

[submodule "documentation"]
	path = documentation
	url = https://github.com/mit-mc-clas12/documentation
